<!-- hero area -->
<section class="hero-area bg-primary">
  <div class="container">
    <div class="hero-content text-center position-relative zindex-1">
      <h1 class="text-white font-tertiary hero-title">{{ site.data.settings.hero.hero-title }}</h1>
      <ul class="list-unstyled hero-social">
        {% for social in site.data.settings.social %}
          {% if social.name == "LinkedIn" %}
          <li class="text-white font-secondary d-inline-flex align-items-center justify-content-center">
            <a class="text-white d-inline-flex align-items-center" href="{{ social.link }}" target="_blank" rel="noopener noreferrer">
              <i class="{{ social.icon }}"></i>
            </a>
            <span>{{ social.name }}</span>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="layer hero-layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer hero-layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer hero-layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer hero-layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer hero-layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  <a href="#about" class="hero-scroll-indicator" aria-label="Scroll to content">
    <span class="hero-scroll-chevron"></span>
  </a>
</section>
<!-- /hero area -->
